.body-content {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.intro-section {
    padding: 15px;
    text-align: center;
}

.intro-title {
    font-size: 28px;
    font-weight: 700;
    color: #5A5A5A;
}

.intro-images-list {
    padding: 15px;
}

ul {
    list-style: none;
}

h2 {
    margin-bottom: 10px;
    color: #5A5A5A;
}

li p {
    width: 200px;
    height: auto;
    margin: 15px auto;
    justify-content: flex-start;
}

