.body-content {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.intro-section {
    padding: 15px;
    text-align: center;
}

.intro-title {
    font-size: 28px;
    font-weight: 700;
    color: #5A5A5A;
}

.intro-images-list {
    padding: 15px;
}

.inspiring-quote-container {
    background-color: #4682B4;
    margin-top: 25px;
    padding: 15px;
    display: flex;;
    justify-content: center;
}

.quote {
    font-size: 25px;
    color: #FFE5B4;
    letter-spacing: 1.5px;
    font-style: italic;
}

.quote-authur {
    font-size: 18px;
    color: #FFE5B4;
    margin-top: 15px;
    font-weight: 600;
    text-align: right;
}

.contact-container {
    background-color: #5A5A5A;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin: 3% 20%;
    width: 800px;
}

.leftside-contact {
    color: #FFE5B4;
    padding: 30px;
}

.call-to-action {
    margin-bottom: 10px;
    letter-spacing: 1.5px;
}

.contact-description {
    letter-spacing: 1.5px;
}

.contact-button:hover {
    background-color: #FFE5B4;
    color: #5A5A5A;
}

ul {
    list-style: none;
}

h2 {
    margin-bottom: 10px;
    color: #5A5A5A;
}

li p {
    width: 200px;
    height: auto;
    margin: 15px auto;
    justify-content: flex-start;
}

blockquote {
    font-size: 20px;
    margin: 0;
    padding: 30px 10px;
    text-align: center;
    width: 600px;
}

