#footer {
    background-color: #4682B4;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60px;
    margin-top: 7%;
    margin-bottom: auto;
}

.publishing {
    color: #FFE5B4;
    padding-top: 12px;
}