.header {
    display: flex;
    justify-content: space-between;
}

logo img {
    width: 90px;
    height: auto;
}

ul {
    display: flex;
    gap: 20px;
    list-style: none;

}

a {
    text-decoration: none;
    color: #4682B4
}