/* .hero-container {
    width: 100%;
    height: 100vh;
    background-image: url('../images/hero-background.jpg');
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    text-align: center;
    padding: 0 20px;
}
 */

 .hero-container {
    display: flex;
    justify-content: space-between;
 }

 .leftside-hero {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 68px;
    margin: 20px;
    width: 50%;
 }

 .rightside-hero {
    padding: 50px;
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
 }

 .sport-image {
    max-width: 100%;
 }

 .sport-image img {
    width: 100%;
    height: auto;
    max-width: 5000px;
 }

 h1, p {
    margin-bottom: 10px;
    color: #5A5A5A;
 }

 p {
    font-size: 18px;
    line-height: 1.6;
 }

 button {
    padding: 10px 5px;
    border-radius: 6px;
    width: 110px;
    font-size: large;
 }

 button:hover {
    background-color: #3A78C2;
    color: white;
    cursor: pointer;
 }